body {
}

textarea {
  width: 32%;
  border: 1px solid #daa;
  text-align: left !important;
}
iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 35em;
}

.border {
  width: 32%;
  height: 200px;
  display: inline-block;
}
